html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.lenis.lenis-scrolling iframe[data-lenis-prevent] {
  pointer-events: auto;
} 



[data-text="split"] {
  display: inline-block;  
} 

.lineChild {
  overflow: hidden;
}

/* Hide scrollbars for the body element in most browsers */
body {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* Specifically for webkit-based browsers to ensure scrollbars are not displayed */
body::-webkit-scrollbar {
  display: none;
}
