html.lenis,
html.lenis body {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

.lenis.lenis-scrolling iframe[data-lenis-prevent] {
	pointer-events: auto;
}

[data-text='split'] {
	display: inline-block;
}

.lineChild {
	overflow: clip;
}

/* Hide scrollbars for the body element in most browsers */
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: clip;
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 0px;
}

/* Specifically for webkit-based browsers to ensure scrollbars are not displayed */
body::-webkit-scrollbar {
	display: none;
}

.swiper-slide .project_service {
	transform: translateY(100%);
	transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.swiper-slide.slide-active .project_service {
	transform: translateY(0%);
}

.swiper-slide .project_name .line_inner {
	transform: translateY(100%);
	transition: transform 1.2s cubic-bezier(0.25, 1, 0.5, 1);
}

.swiper-slide.slide-active .project_name .line_inner {
	transform: translateY(0%);
}

.swiper-slide .img_wrap {
	transform: scale(0.8);
	transition: transform 0.75s cubic-bezier(0.2, 0.11, 0.2, 1);
}

.swiper-slide.slide-active .img_wrap {
	transform: scale(1);
}

/* Barba Container */
.main.is-transition {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	left: 0;
	top: 0;
	z-index: 500;
}
